{% extends 'base.html' %}

{% block content %}
<h1>Order Detail Page</h1>


<h2>Order ID: {{ order.order_id }}</h2>
<li>Belongs to Purchase ID: {{ order.purchase_id }}</li>
<li>Product: <a href={{ order.product.link }}>{{ order.product.name }} </a></li>
<li><img src = {{order.product.image}} height="377"></li>
<li>Seller: <a href={{ order.seller.link }}>{{ order.seller.name }}</a></li>
<li>Quantity: {{ order.number_of_items}} </li>
<li>Order total price: ${{ order.amount }}</li>
<li>Status: {{ order.status }}</li>

<hr></hr>


{% endblock %}
