{% extends 'base.html' %}

{% block content %}
<h1>Product Detail Page
{% if current_user.is_authenticated and session['role'] == 'seller' and is_creator%}
<a href={{ url_for('products.edit', product_id=product.product_id) }}><button type="button" class="btn btn-primary btn-lg">Edit</button></a>
{% endif %}
</h1>


<li>Product Name: {{ product.name }} </li>
<li>Category: {{ product.category }} </li>
<li>Description: {{ product.description }} </li>
<li>Price: {{ product.price }}</li>
<li>Availability: {{ "Available" if product.available else "Not available" }}</li>
<li><img src = {{product.image}}></li>

<hr></hr>
<h1>Sellers</h1>
<table class="table table-striped table-hover table-bordered text-center">
    <tr>
        <th>Seller</th>
        <th>Quantity in stock</th>
    </tr>
    {% for seller in sellers %}
        <tr>
            <td>{{ seller[0] }}</td>
            <td>{{ seller[1]}}</td>
        </tr>
    {% endfor %}
</table>

<hr></hr>
<h1>Reviews</h1>
<li>Average rating: {{ avg_rating }}</li>
<li>Number of rating: {{ num_rating }}</li>
<table class="table table-striped table-hover table-bordered text-center">
    <tr>
        <th>Review User ID</th>
        <th>Review ID</th>
        <th>Review Content</th>
        <th>Review Rating</th>
        <th>Review Time</th>
        <th>Review Seller ID</th>
        <th>Review Product ID</th>
    </tr>
    {% for review in reviews %}
        <tr>
            <td>{{ review.uid }}</td>
            <td>{{ review.id }}</td>
            <td>{{ review.review_content }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.review_time }}</td>
            <td>{{ review.sid }}</td>
            <td>{{ review.pid }}</td>
        </tr>
    {% endfor %}
</table>

{% if current_user.is_authenticated %}
<a href={{ url_for('reviews.insert_product_review', product_id=product.product_id) }}><button type="button" class="btn btn-primary btn-lg">Submit a review</button></a>
{% endif %}



{% endblock %}
