{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center" >
        <div class="col d-flex justify-content-center">
        <div class="card" >
        <div class="card-header">
          <b>{{ seller.firstname + " " + seller.lastname }}</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Seller ID: {{ seller.id }}</li>
          <li class="list-group-item">Address: {{ seller.address }}</li>
          <li class="list-group-item">Email: {{ seller.email }}</li>
          <li class="list-group-item">Seller balance: ${{ seller.balance }}</li>
        </ul>
    </div>

    <div class="container text-center">
        <h1>Welcome, {{ seller.firstname + " " + seller.lastname }}. You may check your inventory here.</h1>
        <center>
            <button onclick="location.href='/seller/add'" type="button" class="row">
                Click here to update your inventory</button>
            <button onclick="location.href='/seller/fulfill'" type="button" class="row">
                Click here to check order fulfillment status</button>
            <button onclick="location.href='/product/create'" type="button" class="row">
                Click here to add new product</button>
            <button onclick="location.href='/seller/update'" type="button" class="row">
                Click here to update your personal information</button>
        </center>    
        
        <table class="table table-striped table-hover table-bordered text-center">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Inventory Quantity</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}