{% extends "base.html" %}

{% block content %}

<div class="container text-center">
  <h1>Public User Page</h1>
  Identifying information hidden for preserving privacy
  <br >
  

  <table class="table table-striped table-hover table-bordered text-center">
      <tr>
          <th>User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
      </tr>
      {% for u in user %}
          <tr>
              <td><a href="../user/public/{{ u.uid }}">{{ u.uid }}</a></td>
              <td>{{u.firstname }}</td>
              <td>{{ u.lastname[0] }}</td>
              <td>{{ u.email[0] }}*****{{ u.email[7:]}}</td>
              <td> ********{{ u.address[-8:] }}</td>
          </tr>
      {% endfor %}
  </table>



{% endblock %}