{% extends "base.html" %}

{% block content %}
<div class="container text-center" >
  <div class="col d-flex justify-content-center">
  <div class="card" >
  <div class="card-header">
    <b>{{ user.firstname + " " + user.lastname }}</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">User ID: {{ user.id }}</li>
    <li class="list-group-item">Address: {{ user.address }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">User balance: $ <a href="/user/balance">{{ user.balance }}</a></li>
  </ul>
</div>

</div>
<br >
<br >

</div>

<br >
<div class="d-flex justify-content-center">
  <a href="/user/balance"><button class="button-6" role="button">Update my account balance</button></a>
  <a href="/user/update"><button class="button-6" role="button">Update my account information</button></a>
</div>


<div class="d-flex justify-content-center">

  <br>
  <div class="container text-center">
    <br>
      <br>
      <br>
      <h1>Purchase history</h1>
      <br>
      <a href="/purchase/search"><button class="button-6" role="button">Filter Purchase history</button></a>
      <br >
      <br>

      <table class="table table-striped table-hover table-bordered text-center">
          <tr>
              <th>Purchase ID</th>
              <th>Number of Orders</th>
              <th>Purchase Amount</th>
              <th>Status</th>
              <th>Time Purchased</th>
          </tr>
          {% for purchase in purchases %}
              <tr>
                  <td><a href="/purchase/{{ purchase.purchase_id }}">{{ purchase.purchase_id }}</a></td>
                  <td>{{ purchase.number_of_orders }}</td>
                  <td>{{ purchase.total_amount }}</td>
                  <td>{{ purchase.status}}</td>
                  <td>{{ purchase.time_purchased}}</td>
              </tr>
          {% endfor %}
      </table>
  <h2>
    <a href="/review/search"><button class="button-6" role="button">See my reviews</button></a>
  </h2>
</div>
</div>

{% endblock %}


