{% extends "base.html" %}

{% block content %}
<div class="container text-center" >
  <div class="card" >
  <div class="card-header">
    <b>{{ user.firstname + " " + user.lastname[0] }}</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">User ID: {{ user.id }}</li>
    <li class="list-group-item">User Reviews: {{ user.id }}</li>
    <li class="list-group-item">User ID: {{ user.id }}</li>
  </ul>
</div>


<br >
<br >
<div class="container text-center" >
  <div class="col d-flex justify-content-center">
  <div class="card" >
  <div class="card-header">
    <b>{{ seller.firstname + " " + seller.lastname[0] }}</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Seller ID: {{ user.id }}</li>
    <li class="list-group-item">Seller Email: {{ seller.email}}</li>
    <li class="list-group-item">Seller Address: {{ seller.address }}</li>
  </ul>
</div>


{% endblock %}


