{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center">
        <h1>Product Review Submission</h1>

        <form class="row justify-content-center" methods="GET" action="/review/product">

            <p style="line-height:10cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter rating:">
            </div>
            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" name="rating">
            </div>

            <p style="line-height:10cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter time:">
            </div>
            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" name="review_time">
            </div>

            <p style="line-height:10cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter seller_id:">
            </div>
            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" name="seller_id">
            </div>

            <p style="line-height:5cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter product_id">
            </div>
            <p style="line-height:10cm;"></p>
            <div class="col-auto">
                <input type="text" name="product_id">
            </div>

            <p style="line-height:10cm;"></p>

            <div class="form-group">
                <label for="review_content">Enter Review: </label>
                <textarea class="form-control" id="review_content" rows="3"></textarea>
            </div>

            <p style="line-height:3.5cm;"></p>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}