{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center">
        <h1>Update your review</h1>

        <form class="row justify-content-center" method="POST" action="/review/search">

            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter rating:">
                <input type="text" name="rating">
            </div>

            <p style="line-height:10cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter time:">
            </div>
            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" name="review_time">
            </div>

            <p style="line-height:10cm;"></p>

            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter review:">
            </div>
            <p style="line-height:5cm;"></p>
            <div class="col-auto">
                <input type="text" name="review_content">
            </div>


            <p style="line-height:3.5cm;"></p>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}