{% extends 'base.html' %}

{% block content %}
<br>
<center><h1>Browse and search purchase history</h1></center>

<form class="row justify-content-center" method="GET" action="/purchase/search">
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Start Date">
        <input type="date" id="start" name="start"  min="1999-01-01" max="2022-12-08" value="1999-01-01" >
    </div>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="End Date">
        <input type="date" id="end" name="end"  min="1999-01-01" max="2022-12-08" value="2022-12-08">
        </select>
    </div>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="All">
        <select name="status" id="status">
            <option value="All">All</option>
            <!-- <option value="Confirmed">Confirmed</option> -->
            <option value="Processing">Processing</option>
            <!-- <option value="Out for Delivery">Out for Delivery</option>
            <option value="Delivered">Delivered</option> -->
            <option value="Fulfilled">Fulfilled</option>
        </select>
    </div>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Min Amount">
        <input type="number" name="minamt" value=0>
    </div>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Max Amount">
        <input type="number" name="maxamt" value="99999999">
    </div>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Seller ID">
        <input type="number" name="seller_id">
    </div>

    <div class="col-auto">
        <br>
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

<br>
<div class="container text-center">
    <h1>My purchase history</h1>
    <br >
    

    <table class="table table-striped table-hover table-bordered text-center">
        <tr>
            <th>Purchase ID</th>
            <th>Number of Orders</th>
            <th>Purchase Amount</th>
            <th>Status</th>
            <th>Time Purchased</th>
        </tr>
        {% for purchase in purchases %}
            <tr>
                <td><a href="/purchase/{{ purchase.purchase_id }}">{{ purchase.purchase_id }}</a></td>
                <td>{{ purchase.number_of_orders }}</td>
                <td>{{ purchase.total_amount }}</td>
                <td>{{ purchase.status}}</td>
                <td>{{ purchase.time_purchased}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
<script>


</script>