{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center">
        <h1>All My Items in Cart</h1>

        <table id="myTable" class="table table-striped table-hover table-bordered text-center">
            <tr>
                <th>Product Name</th>
                <th>Seller Name</th>
                <th>Item Quantity</th>
                <th>Item Unit Price</th>
                <th>Item Total Price</th>
            </tr>
            {% for cart in carts %}
                <tr>
                    <td><a href={{ url_for('products.index', product_id=cart.product_id) }}>{{ cart.product_name }}</td>
                    <td><a href={{ url_for('seller.index', sid=cart.seller_id) }}>{{ cart.seller_name }}</td>

                    <td>
                        <form method="POST" action="">
                        <input type="number" name="cart_quantity" value="{{ cart.cart_quantity }}">
                        <input type="hidden" name="uid" value="{{ cart.uid }}">
                        <input type="hidden" name="seller_id" value="{{ cart.seller_id }}">
                        <input type="hidden" name="product_id" value="{{ cart.product_id }}">
                        <button type="submit" class="btn btn-warning mb-3">Save</button>
                        </form>
                    </td>

                    <td>${{ cart.unit_price }}</td>
                    <td>${{ cart.total_price }}</td>

                    <td>
                        <form method="POST" action={{ url_for('carts.remove_item', uid=cart.uid, seller_id=cart.seller_id, product_id=cart.product_id) }}>
                            <button type="submit" name="delete" class="btn btn-danger mb-3">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <center><h1>Total price: ${{cart_total_price}}</h1></center>

        <br>

        <div>
            <a href={{url_for('carts.submit')}}>
            <button type="submit" class="btn btn-primary mb-3">Submit Cart</button>
            </a>
        </div>

    </div>
</div>



{% endblock %}

<!--
    <form method="GET" action="/cart/detail">
    <label for="quantity"> {{ cart.cart_quantity }} </label>
    <input type="number" name="quantity" min="1" max="50">
    <input type="submit" value="Update">
</form> -->
