<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
</head>

<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="\"><b>Mini Taobao</b></a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="\" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/product/search" class="nav-link px-2 text-white">Products</a></li>
        <li><a href="/seller/search" class="nav-link px-2 text-white">Sellers</a></li>
      </ul>
      <a href="/product/search">
        <button type="button" class="btn btn-outline-light me-2">Search</button>
      </a>
      <div class="text-end">
        {% if current_user.is_authenticated %}
        <button type="button" class="btn btn-outline-light me-2">My Account</button>
        <button type="button" class="btn btn-warning">Logout</button>
        {% else %}
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign up</button>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<body>
  <div class="main">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
