{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center">
        <h1>HW4 Get seller's products in inventory</h1>

        <table class="table table-striped table-hover table-bordered text-center">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Inventory Quantity</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
            {% endfor %}
        </table>

        <form class="row justify-content-center" method="GET" action="/seller/hw4">
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter the seller id">
            </div>
            <div class="col-auto">
                <input type="text" name="sid">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}