{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="container text-center">
        <h1>HW4 Get all</h1>

        <table class="table table-striped table-hover table-bordered text-center">
            <tr>
                <th>Product ID</th>
                <th>Number of Items</th>
                <th>Purchase Amount</th>
                <th>Purchase Status</th>
                <th>Purchase Date</th>
            </tr>
            {% for purchase in purchases %}
                <tr>
                    <td><a href="../product/{{ purchase.product_id }}">{{ purchase.product_id }}</a></td>
                    <td>{{ purchase.number_of_items }}</td>
                    <td>{{ purchase.amount }}</td>
                    <td>{{ purchase.status}}</td>
                    <td>{{ purchase.time_purchased}}</td>
                </tr>
            {% endfor %}
        </table>

        <form class="row justify-content-center" method="GET" action="/user/hw4">
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="Enter the user id">
            </div>
            <div class="col-auto">
                <input type="text" name="uid">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
