{% extends "base.html" %}

{% block content %}

<center><h1>Login</h1>

<br >

<form action="" method="post" novalidate>
  <h5>Account Type: 
  <select class="custom-select" name="role">
    <option value="buyer">Buyer</option>
    <option value="seller">Seller</option>
  </select>
  </h5>
  {{ form.hidden_tag() }}
  <p>
    {{ form.email.label }}<br/>
    {{ form.email(size=32) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br/>
    {{ form.password(size=32) }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  {{ form.submit(class_="btn btn-black") }}
  <a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button">Register</a>
</form></center>

{% endblock %}
